:root {
  --space-base: 1rem;
  --font-size: 22px;
  --border-radius: 4px;
  --color-bg: #fff;
  --color-fg: #000;
  --color-fg-highlight: #aa3333;
  --color-fg-subdued: #999999;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--color-fg);
  background: var(--color-bg);
  font-size: var(--font-size);
}

body {
  padding-bottom: 5rem;
}

@media (max-width: 768px) {
  :root {
    --space-base: 0.5rem;
    --font-size: 18px;
  }
}
