.container {
  float: left;
  display: flex;
  flex-direction: column;
  width: 50%;
  aspect-ratio: 1;
}

.map {
  border-radius: 4px;
  flex: 1;
}

.kpis {
  display: flex;
  justify-content: space-between;
}

.kpi {
  color: var(--color-fg-highlight);
  margin-left: 0.25rem;
}

@media (max-width: 768px) {
  .switcher a {
    font-size: 1rem;
    line-height: 0.7rem;
  }
}