.article {
  padding: var(--space-base) 0;
}

.media {
  display: flex;
  flex-direction: row;
  gap: var(--space-base);
}

.media > * {
  flex: 1;
}

.content {
  margin: 0 auto;
  line-height: 1.6;
  min-width: 0;
}

.content p {
  font-size: 1rem;
  hyphens: auto;
  text-align: justify;
  padding: var(--space-base) 0;
  column-count: 2;
  column-gap: calc(2.5 * var(--space-base));
  column-rule: 4px solid var(--color-fg-subdued);
}

.content img {
  height: auto;
  border-radius: var(--border-radius);
  width: 100%;
}

.content video {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius);
}

.content figure figcaption {
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: var(--color-fg-subdued);
}

.content figure {
  line-height: 1;
}

@media (max-width: 768px) {
  .media {
    flex-direction: column;
  }
  .content p {
    column-count: 1;
  }
}
