.article {
  padding: var(--space-base) 0;
}

.columns {
  display: flex;
  flex-direction: row-reverse;
  gap: var(--space-base);;
}

.media {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: var(--space-base);;
}

.mediaImage {
  min-width: 0;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  overflow: hidden;
  border-radius: 4px;
}

.content {
  flex-basis: 50%;
  line-height: 1.6;
  min-width: 0;
  hyphens: auto;
}

.content img {
  max-width: 100%;
  height: auto;
  margin: 2rem 0;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .columns {
    flex-direction: column;
  }
}
